* {
  margin: 0;
  padding:0;
}

body{
  background-color: #6B98F2;
}

.lyrics1{
font-family: "freude";
font-weight: 400;
font-style: normal;
font-size: 110px;
text-align: left;
margin-top: 30px;
color: white;
}

.lyrics2{
font-family: "lumios-brush", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 110px;
text-align: right;
color: #DED0F2;
}